$alpine-orange: #dbff87;
$alpine-green: #7ee0c3;
$alpine-blue: #acecff;
$alpine-brown: #433A23;
$alpine-beige: #fffdf9;

$enable-gradients: true;
$enable-negative-margins: true;


// Override Bootstrap's default colors
$theme-colors: (
  "alpine-orange": $alpine-orange,
  "alpine-green": $alpine-green,
  "alpine-blue": $alpine-blue,
  "alpine-brown": $alpine-brown,
  "alpine-beige": $alpine-beige,
);

// Important: Must be at the bottom.
@import "../../node_modules/bootstrap/scss/bootstrap";